{% load staticfiles %}

<html>
  <head>
		<link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="{% static 'css/shoppinglist.css' %}">


    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=true;">

    <title>Shopping List</title>
  </head>

  <body>
    <div class="container">

      <header class="row" id="title">
        <h1>Shopping List</h1>
      </header>

      <section class="row" id="add-to-list">
        <form method="POST" action="" class="new-item">{% csrf_token %}
          <input class="add-item" type="text" name="name">
          <input type="submit" class="btn" value="Add item">
          <div class="list-row">
            <input type="radio" name="section" value="VEG">
            <label id="produce">Produce</label>
          </div>
          <div class="list-row">
            <input type="radio" name="section" value="CHI">
            <label id="chilled">Chilled</label>
          </div>
          <div class="list-row">
            <input type="radio" name="section" value="HOU">
            <label id="household">Household</label>
          </div>
          <div class="list-row">
            <input type="radio" name="section" value="OTH" checked>
            <label id="other">Other</label>
          </div>
        </form>
      </section>

      <hr>

      <section class="row list" id="shopping-list">
        <form method="POST" action="">{% csrf_token %}
        {% for item in list_items %}
          <div class="list-row">
            <input id="item-{{ item.id }}" type="checkbox" name="list-item"
              {% if item.checked %}
                checked
              {% endif %}
            >
            <label for="item-{{ item.id }}" class="{{ item.section }}">{{ item.name }}</label>
            <input type="submit" class="btn delete" value="Delete">
          </div>
        {% endfor %}
          <div class="list-row">
            <input type="submit" class="btn delete" value="Delete All">
          </div>
        </form>
      </section>

    </div>
  </body>
</html>
